<div class="container">
    <div class="flex flex-wrap">
        <div class="w-4/12 flex-1">
            <app-dashboard></app-dashboard>
        </div>
        <div class="w-8/12">
            <!--<div class="relative overflow-scroll mt-2 table-auto" style="height: 400px;scroll-behavior: smooth;">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto overflow-scroll">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Prenom
                </th>
                <th scope="col" class="px-6 py-3">
                    email
                </th>
                <th scope="col" class="px-6 py-3">
                    Numéro telephone
                </th>
                <th scope="col" class="px-6 py-3">
                  Actions
              </th>
  
            </tr>
        </thead>
        <tbody>
            <ng-container ></ng-container>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let item of clients">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{item.nom}}
                </th>
                <td class="px-6 py-4">
                    {{item.prenom}}
                </td>
                <td class="px-6 py-4">
                    {{item.email}}
                </td>
                <td class="px-6 py-4">
                    {{item.numeroTelephone}}
                </td>
                <td class="px-6 py-4">
                  <button class="btn-update">
                    Update
                  </button>
                  <button class="btn-delete">
                    Delete
                  </button>
              </td>
  
            </tr>
  
        </tbody>
    </table>
  </div>
  <button type="submit"  class="add-btn mt-3">
    +
  </button>
      </div>
  !-->
            <div class="relative overflow-scroll mt-2 table-auto" style="height: 400px; scroll-behavior: smooth">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-auto overflow-scroll">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Id</th>
                            <th scope="col" class="px-6 py-3">Product Name</th>
                            <th scope="col" class="px-6 py-3">Quantity</th>
                            <th scope="col" class="px-6 py-3">Price</th>
                            <th scope="col" class="px-6 py-3">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container></ng-container>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                            *ngFor="let item of details; let i = index">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.id }}
                            </th>
                            <td class="px-6 py-4">
                                {{ item.product.label }}
                            </td>
                            <td class="px-6 py-4">
                                {{item.quantity}}
                            </td>
                            <td class="px-6 py-4">
                                {{item.product.price}}
                            </td>
                            <td></td>
                            <!---->

                            <!---->
                        </tr>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                
                            </th>
                            <td class="px-6 py-4">
                                
                            </td>
                            <td class="px-6 py-4">
                                
                            </td>
                            <td class="px-6 py-4">
                                
                            </td>
                            <td>
                                {{totalPrice}}
                            </td>
                        </tr>                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>